<html>
  <head>
    <title>Meme Website</title>
    <style>
      html {
        padding: none;
        outline: none;
        margin: none;
        box-sizing: border-box;
      }
      body {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      /* body > img {
        /* width: 500px;
        height: auto; */
    </style>
  </head>
  <body>
    <h1>A Website to gather some memes!</h1>
    <p>Here is your meme. This will refresh in 30 seconds.</p>
    <img src="{{meme_large}}" />
    <p>current subreddit : {{subreddit}}</p>
  </body>
</html>
